body {
	margin:0;
	padding:0;
	background-image:url('../img/pattern.jpg')
}
header {
	top:0;
	left:0;
	position:fixed;
	width:100%;
	display:inline;
	background:white;
}
header img {
	display:inline;
	float:left:
}

nav {
	display:inline;
}

ul {
	right:0;
	width:20%;
	float:right;
	list-style-type: none;
}

nav a {
	float:left;
	margin-left:15%;
	text-decoration:none;
	
}


section {
	padding:2%;
	margin-top:5%;
	margin-bottom:3%;
	background:white;
	margin-left:15%;
	margin-right:15%;
}

section h1 {
	text-align:center;
}

article {
	border-bottom:1px solid gray;
}

article a  {
	text-decoration:none;
}

footer {
	display:block;
	padding:0.3%;
	height:auto;
	text-align:center;
	background:black;
	color:white;
	font-weight:bold;
}